.btnAddTask {
  cursor: pointer;
  bottom: 5%;
  left: 85%;
  position: sticky;
  background-color: #3d79b1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  border-radius: 64px;
  padding: 16px 16px;
  line-height: 0;
}

.btnAddTask:hover {
  background-color: #224464;
}
